:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-accent: #FF6363;
  --color-accent-alt: rgba(255 99 99 / 0.2);
  --color-accent-secondary: #E7FAFE;

  --gradient-blue: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
  --gradient-dark-green: linear-gradient(180deg, rgba(112, 130, 70, 0.00) 0%, rgba(112, 130, 70, 0.10) 100%);
  --gradient-light-green: linear-gradient(180deg, rgba(108, 198, 63, 0.00) 0%, rgba(108, 198, 63, 0.10) 100%);
  --gradient-light-red: linear-gradient(180deg, rgba(204, 38, 27, 0.00) 0%, rgba(204, 38, 27, 0.10) 100%);
  --gradient-light-yellow: linear-gradient(180deg, rgba(240, 158, 0, 0.00) 0%, rgba(240, 158, 0, 0.10) 100%);
  --gradient-light-gray: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.05) 100%);
  --gradient-dark-gray: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.05) 100%);
  --gradient-green: linear-gradient(180deg, #357355 0%, #1D483B 100%);

  --color-gray: rgba(0 0 0 / 0.10);
  --color-gray-50: rgba(0 0 0 / 0.05);
  --color-gray-400: rgba(0 0 0 / 0.40);
  --color-gray-600: rgba(0 0 0 / 0.60);
  --color-gray-alt: #DBE2E5;

  --border-radius-l: 60px;
  --border-radius-m: 30px;
  --border-radius-s: 16px;
  --border-radius-xs: 8px;

  --shadow: 10px 20px 40px rgba(41, 64, 70, 0.10);


  --font-family-base: 'Inter';

  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;
  --section-padding-y: #{fluid(80, 40)};

  --transition-duration: 0.2s;

  --layer-mobile-menu: 100;
}
