.author-card {
  display: flex;
  align-items: center;
  column-gap: 16px;

  &__body {
    display: grid;
    row-gap: 8px;
  }

  &__image {
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
  }

  &__date {
    color: var(--color-gray-600);
    font-weight: 500;
  }
}