.recipe-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px 40px 32px;
  height: 100%;
  min-height: 360px;
  row-gap: 24px;
  background: var(--recipeBannerImg) center/auto 100% no-repeat;
  background-color: var(--gradient-green);

  @include hover {
    .recipe-banner__site {
      color: var(--color-accent);
    }
  }

  &__site {
    color: color-mix(in srgb, var(--color-white) 60%, transparent);
    transition-duration: inherit;
  }
}